@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@300;400;700&display=swap');

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

.body {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #EDF2EC;
	width: 1440px;
	margin: 0 auto;
}

.header__navbar {
	padding: 33px 109px 50px 105px;
	margin: 0 auto;
	width: 1220px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	display: flex;
}

.header__logo-link {
	margin: 0;
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	text-decoration: none;
}

.header__nav {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	gap: 49px;
	justify-content: space-between;
}

.header__link {
	text-decoration: none;
	color: black;
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
}

.header__link_active {
	color: #E06733;
	font-weight: 700;
}

.header__burger {
	display: none;
}

.welcome {
	padding: 91px 114px 94px;
	display: flex;
	justify-content: flex-end;
	background-image: url(image/leafs.png);
	background-repeat: no-repeat;
	background-position: top 57px left 100px;
	background-size: 448.8px 407.36px;
}

.welcome__card {
	display: flex;
	flex-direction: column;
	gap: 45px;
}

.welcome__title {
	margin: 0;
	max-width: 549px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 50px;
	color: #717171;
}

.welcome__title_color_green {
	color: #499A18;
}

.welcome__paragraph {
	margin: 0;
	max-width: 525.44px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: #636060;
}

.welcome__button {
	background-color: #EDF2EC;
	padding: 10px 25px 10px 20px;
	border: 2px solid #E06733;
	border-radius: 10px;
	width: 158px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
}

.welcome__button:hover {
	background-color: #E06733;
	color: white;
	transition-duration: 1s;
}

.about {
	background-color: white;
	width: 1440px;
	margin: 0 auto;
}

.about__section {
	width: 1222px;
	padding: 161px 100px 155px;
	background-image: url(image/houseplant1.png);
	background-repeat: no-repeat;
	background-position: top 92px right 100px;
	background-size: 464px 479px;
}

.about__card {
	display: flex;
	flex-direction: column;
	gap: 40px;
	height: 350px;
}

.about__title {
	margin: 0;
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;
	max-width: 463px;
}

.about__title_color_orange {
	color: #E06733;
}

.about__paragraph {
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #636060;
	max-width: 605px;
}

.service {
	background-color: #EDF2EC;
	width: 1440px;
	margin: 0 auto;
}

.service__content {
	width: 1222px;
	padding: 43px 102px 79px;
	display: flex;
	align-items: center;
}

.service__title {
	margin: 0;
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;
	max-width: 306px;;
}

.service__btns {
	display: flex;
	gap: 38px;
	padding: 0 0 0 142px;
}

.service__btn {
	background-color: #EDF2EC;
	border: 1px solid #E06733;
	border-radius: 5px;
	padding: 12px 40px;
	width: 161px;
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #E06733;
}

.service__btn_active {
	background-color: #E06733;
	color: white;
}

.service__services {
	width: 1222px;
	padding: 0 102px 121px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 55px;
	list-style: none;
	margin: 0;
}

.service__service-item {
	width: 330px;
	margin: 0;
	padding: 0;
}

.service__rectangle {
	border: 1px solid #E3E1D5;
	border-radius: 0px 0px 20px 20px;
	padding: 10px 0 36px;
	margin: -4px 0 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.service__subtitle {
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #E06733;
}

.service__paragraph {
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
	text-align: center;
}

.prices {
	background-color: white;
	width: 1440px;
	margin: 0 auto;
}

.prices__wrapper {
	width: 1222px;
	height: 560px;
	padding: 0 100px;
	display: flex;
	justify-content: space-between;
	background-image: url(image/leafs1.png);
	background-repeat: no-repeat;
	background-position: top 270.01px right 90px;
}

.prices__title {
	padding: 40px 0 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #000000;
}

.prices__card {
	box-sizing: border-box;
	border: 1px solid #E3E1D5;
	border-radius: 20px;
	width: 334px;
	margin: 60px 0 128.98px;
}

.prices__items {
	box-sizing: border-box;
	margin: 0;
	padding: 31px 41px;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 32px;
	border: 0;
}

.prices__item:not(:focus){
	box-sizing: border-box;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	background-color: #EDF2EC;
	border-radius: 20px;
	padding: 16px 110px 16px 40px;
	width: 250px;
	background-image: url(image/accordion_btn1.svg);
	background-repeat: no-repeat;
	background-position: top 17px right 40px;
}

.prices__item_type_bas:not(:focus)::before {
	content: 'Basics';
}

.prices__item_type_stand:not(:focus)::before {
	content: 'Standard';
}

.prices__item_type_pro:not(:focus)::before {
	content: 'Pro care';
}

.prices__item:focus::before {
	content: none;
}

.prices__item_active {
	display: none;
}

.prices__item:focus + .prices__item_active {
	background-image: url(image/accordion_btn2.svg);
	background-repeat: no-repeat;
	background-position: top 17px right 40px;
	background-color: #D6E7D2;
	display: block;
	margin: -34px 0 0;
}

.prices__subtitle {
	margin: 0;
	padding: 0 0 12px 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
}

.prices__paragraph {
	margin: 0;
	padding: 6px 0;
	min-width: 169px;
	border-top: 0.5px solid #AEA1A1;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 10px;
	color: #717171;
}

.prices__price {
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
}

.prices__price_color_orange {
	color: #E06733;
}

.prices__order {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #717171;
	background: #FFFFFF;
	border-radius: 10px;
	border: 1px;
	padding: 3px 20px;
	margin: 12px 0 0;
}

.prices__contact {
	display: flex;
	flex-direction: column;
	gap: 38px;
	align-items: flex-end;
}

.prices__second-title {
	padding: 40px 0 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-align: right;
	color: #000000;
	max-width: 452px;
}

.prices__second-title-word_marker_separation {
	color: #499A18;
}

.prices__button {
	border: 1px solid #E06733;
	border-radius: 5px;
	padding: 12px 33.96px 12px 30.04px;
	background-color: white;
	justify-self: flex-end;
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #E06733;
}

.prices__button:hover {
	background-color: #E06733;
	color: white;
	transition-duration: 1s;
}

.contacts {
	width: 1440px;
	margin: 0 auto;
	background-color: #EDF2EC;
	background-image: url(image/contact_woman1.png);
	background-repeat: no-repeat;
	background-position: bottom 0 left 100px;
	display: flex;
	flex-direction: column;
	gap: 37px;
	min-height: 550px;
}

.contacts__title {
	padding: 60px 20px 0 0;
	margin: 0;
	color: #499A18;
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	text-align: center;
}

.contacts__select {
	width: 450px;
	align-self: flex-end;
	margin: 0 117px 0 0;
	border-radius: 0px;
	padding: 5px 226px 5px 20px;
	background: #D6E7D2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(image/accordion_btn.svg);
	background-repeat: no-repeat;
	background-position: top 17px right 35px;
	border: none;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 0.05em;
	color: #717171;
}

.contacts__select:focus {
	background-image: url(image/arrow.svg);
	background-repeat: no-repeat;
	background-position: top 17px right 35px;
	background-color: #C1E698;
	outline: none;
	box-shadow: none;
}

.contacts__option {
	background-color: #DCE9D9;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0.05em;
	color: #499A18;
	padding: 12px 0 12px 41px;
	outline: none;
	border: 0;
	min-height: 234px;
}

.footer {
	background-color: white;
	margin: 40px auto;
	width: 1440px;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 115px 0 103px;
}

.footer__data {
	display: flex;
	gap: 20px;
	list-style: none;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 50px;
	padding: 0;
}

.footer__link {
	text-decoration: none;
	color: #000000;
}

.footer__rs {
	margin: 0;
	text-decoration: none;
	color: black;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 50px;
	color: #000000;
	padding: 0 0 0 15px;
}

.footer__social {
	display: flex;
	gap: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
}

@media (max-width: 768px) {
	.header {
		width: 768px;
	}

	.header__navbar {
		width: 668px;
		padding: 35px 15px 28px 7px;
	}

	.header__nav {
		gap: 46px;
	}

	.welcome {
		justify-content: flex-start;
		background-position: top 40px left 438px;
		background-size: 280px 254.15px;
		padding: 43px 51px 70px;
	}

	.welcome__card {
		max-width: 341px;
		gap: 33px;
	}

	.welcome__title {
		font-size: 35px;
	}

	.welcome__paragraph {
		font-size: 16px;
		line-height: 25px;
		margin: 0 4px;
	}

	.about {
		width: 768px;
	}

	.about__section {
		width: 668px;
		min-height: 743px;
		padding: 40px 50px 0;
		background-position: top 430px left 259px;
    background-size: 250px 258px;
	}

	.about__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 51px;
		height: 350px;
	}

	.about__title {
		font-size: 35px;
		line-height: 45.61px;
		max-width: 423px;
		text-align: center;
	}

	.about__paragraph {
		max-width: 668px;
	}

	.service {
		width: 768px;
		min-height: 1780px;
	}

	.service__content {
		width: 668px;
		padding: 60px 49px 40px;
		flex-direction: column;
		align-items: flex-start;
		gap: 42px;
	}

	.service__title {
		font-size: 35px;
		line-height: 45.61px;
	}

	.service__btns {
		padding: 0;
	}

	.service__services {
    width: 668px;
    padding: 0 50px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 137px;
    list-style: none;
    margin: 0;
	}

	.service__service-item {
		width: 280px;
		height: 350px;
	}

	.service__service-item img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.service__rectangle {
		align-items: center;
		padding: 10px 0 18px;
	}

	.service__paragraph {
		max-width: 201px;
	}

	.prices {
		width: 768px;
	}

	.prices__wrapper {
		width: 668px;
		height: 585px;
		padding: 0 0 0 51px;
		background-position: top 322px right -11px;
	}

	.prices__title {
		font-size: 35px;
		line-height: 42.36px;
		margin: 0 14px;
	}

	.prices__items {
		gap: 29px;
	}

	.prices__contact {
		gap: 26.59px;
	}

	.prices__second-title {
		font-size: 25px;
		line-height: 35px;
		padding: 140px 0 0;
		max-width: 296px;
	}

	.contacts {
		width: 768px;
		background-position: bottom 0 left 294px;
		background-size: 200px 248.49px;
		gap: 100px;
		min-height: 739px;
	}

	.contacts__title {
		padding: 40px 6px 0 0;
	}

	.contacts__select {
		margin: 0 159px;
	}

	.footer {
		margin: 0;
		width: 768px;
	}

	.footer__wrapper {
		flex-direction: column;
		padding: 20px 9px 18px 0;
		gap: 7px;
	}

	.footer__rs {
		margin: -15px 9px 0 0;
	}

	.footer__link {
		margin: 0 -7px 0 0;
	}
}

@media (max-width: 380px) {

	@keyframes menu {
		from {
			transform: translateX(500px);
		}

		to {
			transform: translateX(0);
		}
	}

	@keyframes menu-close {
		from {
			transform: translateX(0);
		}

		to {
			transform: translateX(500px);
		}
	}

	.main_blur {
		position: relative;
		z-index: -1;
		filter: blur(10px);
	}

	.header {
		width: 380px;
	}

	.header__navbar {
		width: 330px;
		padding: 39px 2px 37px 0;
	}

	.header__nav {
		gap: 46px;
		display: none;
		max-height: 0;
		/* transition: 5s ease max-height; */
	}

	.header__nav_active {
		row-gap: 0;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
    width: 330px;
    justify-content: center;
		opacity: 1;
		/* max-height: 100%; */
		/* transition: 1s ease max-height; */
	}

	.header__nav_open {
		animation: menu 900ms;
		opacity: 1;
		visibility: visible;
    /* transform: scale(1); */
	}

	.header__nav_close {
		animation: menu-close 900ms;
		opacity: 1;
		visibility: visible;
    /* transform: scale(0); */
	}

	.header__burger {
		display: block;
		width: 40px;
		height: 24px;
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin: -4px 0 0 0;
		cursor: pointer;
	}

	.header__burger span {
		transition: all .3s;
	}

	.header__burger_first {
		transform: translate(0, 10px) rotate(45deg);
	}

	.header__burger_middle {
		transform: scale(0);
	}

	.header__burger_last {
		transform: translate(0, -10px) rotate(-45deg);
	}

	.header__burger span {
    height: 2px;
    width: 100%;
    background: #717171;
	}

	.welcome {
		justify-content: center;
		padding: 24px 3px 0 0;
		background-image: none;
	}

	.welcome__card {
		max-width: 330px;
		gap: 20px;
	}

	.welcome__title {
		font-size: 25px;
    line-height: 35px;
	}

	.welcome__button {
		width: 104px;
		font-size: 10px;
		padding: 5px 18px 5px 16px;
		height: 34px;
		margin: 6px 0 24px 0;
	}

	.welcome__paragraph {
		margin: 0;
	}

	.about {
		width: 380px;
		min-height: 516px;
	}

	.about__section {
		width: 330px;
		min-height: 486px;
		padding: 30px 25px 0;
		background-position: top 339px left 115px;
    background-size: 150px 147px;
	}

	.about__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 14.55px;
		height: 350px;
	}

	.about__title {
		font-size: 25px;
		line-height: 32.57px;
		max-width: 288px;
		text-align: center;
	}

	.about__paragraph {
		max-width: 330px;
		font-size: 15px;
		line-height: 25px;
	}

	.service {
		width: 380px;
		min-height: 3150px;
	}

	.service__content {
		width: 330px;
		padding: 30px 25px;
		flex-direction: column;
		align-items: flex-start;
		gap: 39px;
	}

	.service__title {
		font-size: 25px;
		line-height: 32.57px;
		max-width: 187px;
	}

	.service__btns {
		padding: 0;
		flex-wrap: wrap;
		gap: 10px;
	}

	.service__btn {
		max-width: 121px;
		padding: 0;
		font-size: 15px;
    line-height: 19.54px;
		height: 35px;
		text-align: center;
	}

	.service__services {
    width: 279px;
    padding: 10px 0 27px 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 134px;
    list-style: none;
    margin: 0;
	}

	.service__service-item {
		width: 280px;
		height: 350px;
	}

	.service__service-item img {
		object-fit: cover;
		width: 100%;
		height: 100%;
    border-radius: 20px 20px 0px 0px;
	}

	.service__rectangle {
		align-items: center;
		padding: 10px 0 18px;
	}

	.service__paragraph {
		max-width: 201px;
	}

	.prices {
		width: 380px;
	}

	.prices__wrapper {
		width: 230px;
		height: 512px;
		padding: 0 0 0 16px;
		background-image: none;
		flex-direction: column;
		margin: 0 auto;
		justify-content: start;
	}

	.prices__title {
		font-size: 25px;
		line-height: 30.26px;
		margin: 0;
		padding: 25px 14px 0 0;
		text-align: center;
	}

	.prices__items {
		gap: 11px;
		align-items: center;
		padding: 29px 22px;
	}

	.prices__card {
		width: 224px;
		height: 235px;
    margin: 36px -4px 19px;
	}

	.prices__item:not(:focus) {
		width: 180px;
		font-size: 15px;
		padding: 15.91px 61px 15.91px 30px;
	}

	.prices__contact {
		gap: 14px;
		align-items: center;
	}

	.prices__second-title {
		font-size: 20px;
		line-height: 35px;
		padding: 0 14px 0 0;
		width: 250px;
		text-align: center;
	}

	.prices__button {
		padding: 6px 24px;
    margin: 8px -38px 0 -54px;
		font-size: 15px;
    line-height: 19.54px;
	}

	.contacts {
		width: 380px;
		background-position: bottom 0 left 139px;
		background-size: 100px 124.25px;
		gap: 80px;
		min-height: 445px;
	}

	.contacts__title {
		padding: 24px 4px 0 0;
		font-size: 25px;
    line-height: 32.57px;
	}

	.contacts__select {
		margin: 2px 42px;
		width: 300px;
		background-position: top 17px right 20px;
	}

	.footer {
		margin: 0;
		width: 380px;
	}

	.footer__wrapper {
		flex-direction: column;
		padding: 8px 8px 18px 0;
		gap: 1px;
	}

	.footer__rs {
		margin: -10px 8px 0 0;
	}

	.footer__link {
		margin: 0 -7px 0 0;
	}
}